#album-songs-card{
    /* display: block; */
    position: relative;
    left: 25%;
    width: 50%;
    background-color: white;
}

#album-songs-search{
    padding: 0;
    margin: 0;
}

#song-num-name{
    margin-bottom: 10px;
}
h1{
    display: inline;
    text-align: center;
    margin-left: 10%;
}
h2{
    display: inline;
    text-align: left;
    margin: 0px;
}
#album-name{
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}